body {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "SoLowRegular";
    font-size: 1.5em;
    padding: 0;
    background: url("src/bkgd.jpg") no-repeat center center fixed;
    background-size: cover;
    
}

@font-face {
    font-family: "SoLowRegular";
    src: url("src/SoLowRegular-Desktop.otf") format("opentype");
}

p {
    margin: 0;
}

#navbar {
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.nav {
    margin: 2vw;
}

a:link {
    color: rgb(227, 142, 189);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(174, 39, 102);
    background-color: transparent;
    text-decoration: none;
}

.header {
    margin-bottom: 6vh;
}

#title1 {
    font-family: "SoLowRegular";
    font-weight: bold;
    font-size: 3.5em;
    letter-spacing: .2rem;
}

#launchText {
    font-family: "SoLowRegular";
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: .1rem;
    margin-left: 10vw;
    margin-right: 10vw;
}

#title2 {
    font-family: "SoLowRegular";
    font-weight: bold;
    font-size: 2.5em;
    letter-spacing: .3rem;
    margin-bottom: 2vh;
}

.unitContainer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: row;
}

.unit {
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 10vw;
    height: 150px;
}

#countdownDays, #countdownHours, #countdownMin, #countdownSec {
    font-family: "SoLowRegular";
    font-size: 3em;
    margin: 0;
}

.info {
    margin: 18vw;
    margin-top: 0;
    margin-bottom: 6vh;
}

.events {
    margin: 18vw;
    margin-top: 0;
    margin-bottom: 5vh;
    text-align: center;
}

.committee {
    margin: 15vw;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 5vh;
    text-align: center;
}

ul {
    margin-top: 0;
    width: 50vw;
    text-align: left;
    display: inline-block;
}

li {
    width: 45vw;
}

.sponsors {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
}

img {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

iframe {
    align-self: center;
}