body {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "SoLowRegular";
    font-size: 1.5em;
    padding: 0;
    background: url("bkgd.svg") no-repeat center center fixed;
    background-size: cover
}

@font-face {
    font-family: "SoLowRegular";
    src: url("./SoLowRegular-Desktop.otf") format("opentype");
}

p {
    margin: 0;
}

#title {
    font-family: "SoLowRegular";
    font-weight: bold;
    font-size: 3em;
    letter-spacing: .2rem;
    margin: 10vh;
    margin-top: 20vh;
}

.unitContainer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: row;
}

.unit {
    padding: 10px;
    margin: 30px;
    width: 10vw;
}

#countdownDays, #countdownHours, #countdownMin, #countdownSec {
    font-family: "SoLowRegular";
    font-size: 3em;
    margin: 0;
}